<%
    const moodMap = {};
    const MoodIndexMap = { bad: 0, okay: 1, good: 2, great: 3, excellent: 4 };
    const moodColors = ["#c8d4f0", "#92a8e0", "#6080c8", "#4a9e80", "#3db878"];
     
    moods.forEach(entry => {
        const d = new Date(entry.mood_date);
        console.log(d);
        
        const key = `${d.getDate()}-${d.getMonth() + 1}`; //sth like 8-4

        console.log("GIA NA DOUME:");
        console.log(entry.mood_date);

        console.log(d.getDate());

        if (moodMap[key]) return; // already processed this date, skip

        // goes through moods and keeps only the ones that happened on the same date & month
        const DayJournalOccurences = moods.filter(entry => {
            const d2 = new Date(entry.mood_date);
            const entryKey = `${d2.getDate()}-${d2.getMonth() + 1}`;

            return entryKey === key;
        });

        console.log(DayJournalOccurences); 

        let sumMood = 0;

        DayJournalOccurences.forEach(entry => {
            sumMood += MoodIndexMap[entry.mood_name];
            }
        );

        console.log("sum: " + sumMood);

        const averageIndex = Math.round(sumMood / DayJournalOccurences.length);
        console.log("averageIndex: " + averageIndex);

        moodMap[key] = moodColors[averageIndex];
    });
%>

<!-- Right big box -->
<section class="card calendar-card">
    <div>
        <h2 id="curYear"> <%= todayYear %> </h2>
    </div>

    <!-- Month header row -->
    <div class="calendar-grid">

        <!-- top-left empty corner. in order to keep an empty position before January -->
        <div></div>

        <% const months = ["J","F","M","A","M","J","J","A","S","O","N","D"]; %>

        <% months.forEach(m => { %>
            <div class="month-label"><%= m %></div>
        <% }) %>

        <!-- Day rows -->
        <% for (let day = 1; day <= 31; day++) { %>

            <!-- left day label -->
            <div class="day-label"><%= day %></div>

            <!-- 12 month cells -->
            <% for (let month = 1; month <= 12; month++) { %>
                
                <% if (day === todayDay && month === todayMonth) { %>
                    
                    <!-- check if the mood exists, aka if there is any color related to the combination day-month -->
                    <%
                        const key = `${day}-${month}`;
                        const color = moodMap[key];
                    %>

                    <button type="button" class="day today"
                        data-day="<%= day %>"
                        data-month="<%= month %>"

                        <% <!-- mood exists --> %>
                        <% if (moodMap[key]) { %>

                            style="background: <%= color %>;"
                        <% } else { %>
                            style="background: #dbe1f380;"
                        <% } %>
                        >
                        <div class="day-popup">
                            Day <%= day %> / <%= month %>
                        </div>
                    </button>


                <% } else { %>
                    <% if (day <= DaysOfMonths[month-1] ) { %>

                        <%
                            const key = `${day}-${month}`;
                            const color = moodMap[key];
                        %>

                        <div class="day"
                            data-day="<%= day %>"
                            data-month="<%= month %>"
                            
                            <% <!-- if mood exists, apply its color. If not, apply default --> %>
                            style="background: <%= moodMap[key] || '#dbe1f380' %>;"
                            >
                            <div class="day-popup">
                                Day <%= day %> / <%= month %>
                            </div>
                        </div>

                    <% } else { %>

                        <div class="emptyDay"
                            data-day="<%= day %>"
                            data-month="<%= month %>">
                        </div>

                    <% } %>
                    
                <% } %>

            <% } %>

        <% } %>

    </div>

</section>
