<%-include("partials/header.ejs")%>

  <!-- Main content area -->
  <main class="dashboard">

    <section class="card question-card">

        <!-- Left big box -->
        <%-include("partials/leftMenu.ejs")%>
        
        <section class="part main-section">
            <form action="/addMood" method="POST">

           <% [
                { label: 'Morning',   time: '06:00 AM', placeholder: 'How did your morning unfold...', tags: ["exercised", "ate healthy", "meditated", "slept well"] },
                { label: 'Afternoon', time: '12:00 PM', placeholder: 'The shape of your afternoon...', tags: ["productive", "ate healthy", "deep work", "walked"]},
                { label: 'Evening',   time: '06:00 PM', placeholder: 'Reflections as the day quiets...', tags: ["no screens", "ate healthy", "meditated", "read"] }
            ].forEach((part, index) => { %>
                
                <div class="timeline-column"></div>

                <div class="day-row">

                    <div class="timeline-vertical-line">

                        <div class="dot dot-<%= index %>">
                            <div class="greyTodayDot"></div>
                        </div>
                    </div>

                    <div class="day-parts day-part-<%= index %>" >
                        <div class="DayPartText day-part-text-<%= index %>">                           
                            <h4><%= part.label %></h4>
                            <h6><%= part.time %></h6>
                        </div>
                        <!-- <form action="/addMood" method="POST"> -->
                            <div class="textarea-wrapper">
                                <div class="MoodNotes">
                                    <textarea name="notes-<%= index %>" class="notes notes-<%= index %>" placeholder= '<%=part.placeholder%>'></textarea>
                                </div>
                                <input type="hidden" name="selectedcolor-<%=index%>" class="selectedColorInput">
                                <input type="hidden" name="selectedMood-<%=index%>" class="selectedMoodInput">
                                <input type="hidden" name="selectedTags-<%=index%>" class="selectedTagsInput">
                                <input type="hidden" name="period-<%=index%>" value="<%= part.label.toLowerCase() %>">
                                
                                <input type="hidden" name="selectedDate" id="selectedDate" />

                                <div class="bottomTextareaContent">
                                       <div class="tagsContainer tagContainer-<%=index%>">
                                        <% part.tags.forEach(t => { %>
                                            <div class="tag" data-index="<%=index%>" data-tag="<%=t%>"><%= t.toUpperCase() %></div>
                                        <% }) %>
                                        </div>
                                    <div class="moodContainer">
                                        <h6>MOOD</h6>
                                        <% [
                                            { mood: 'bad',       color: '#c8d4f0' },
                                            { mood: 'okay',      color: '#92a8e0' },
                                            { mood: 'good',      color: '#6080c8' },
                                            { mood: 'great',     color: '#4a9e80' },
                                            { mood: 'excellent', color: '#3db878' }
                                            ].forEach(m => { %>
                                                <div class="mood mood-<%=index%>" data-mood="<%= m.mood %>" data-color="<%= m.color %>">
                                                    <div class="mood-box <%= m.mood %>"></div>
                                                    <div class="mood-popup"> <%= m.mood %> </div>
                                                </div>
                                            <% }) %>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>
            <% }) %>
            <button type="submit" class="ok">Save Day</button>
        </section>
        </form>

    </section>

    <%-include("partials/calendar.ejs")%>

  </main>

<%-include("partials/footer.ejs")%>