<%-include("partials/header.ejs")%>

  <!-- Main content area -->
  <main class="dashboard">

    <!-- Left big box -->
    <section class="card question-card">
        <form action="/addMood" method="POST">
            <h1 id="moodQuestion">How are you feeling today?</h1>

            <input type="hidden" name="selectedMood" id="selectedMoodInput">

            <div id="moodContainer">
                <div class="mood" data-mood="happy">
                    <div class="mood-box happy" ></div>
                    <span>Happy</span>
                </div>

                <div class="mood" data-mood="sad">
                    <div class="mood-box sad" ></div>
                    <span>Sad</span>
                </div>

                <div class="mood" data-mood="neutral">
                    <div class="mood-box neutral"></div>
                    <span>Neutral</span>
                </div>

                <div class="mood" data-mood="anxious">
                    <div class="mood-box anxious"></div>
                    <span>Anxious</span>
                </div>

                <div class="mood" data-mood="excited">
                    <div class="mood-box excited"></div>
                    <span>Excited</span>
                </div>

                <div class="mood" data-mood="tired">
                    <div class="mood-box tired"></div>
                    <span>Tired</span>
                </div>

                <div class="mood" data-mood="angry">
                    <div class="mood-box angry"></div>
                    <span>Angry</span>
                </div>
            </div>

            <div id="MoodNotes"> 
                <!-- Notes input -->
                <textarea
                    name = "notes"
                    id = "notes"
                    placeholder="Write about your day..."
                ></textarea>

                <button type="submit" class="ok">
                    OK
                </button>
            </div>
        </form>
    </section>

    
    <!-- Right big box -->
    <section class="card calendar-card">
        <div>
            <h2 id="curYear"> <%= todayYear %> </h2>
        </div>

        <!-- Month header row -->
        <div class="calendar-grid">

            <!-- top-left empty corner. in order to keep an empty position before January -->
            <div></div>

            <% const months = ["J","F","M","A","M","J",
                            "J","A","S","O","N","D"]; %>

            <% months.forEach(m => { %>
                <div class="month-label"><%= m %></div>
            <% }) %>

            <!-- Day rows -->
            <% for (let day = 1; day <= 31; day++) { %>

                <!-- left day label -->
                <div class="day-label"><%= day %></div>

                <!-- 12 month cells -->
                <% for (let month = 1; month <= 12; month++) { %>
                    
                    <% if (day === todayDay && month === todayMonth) { %>
                        
                        <div class="day today"
                            data-day="<%= day %>"
                            data-month="<%= month %>">

                            <div class="day-popup">
                                Day <%= day %> / <%= month %>
                            </div>
                        </div>

                    <% } else { %>
                        <% if (day <= DaysOfMonths[month-1] ) { %>

                            <div class="day"
                                data-day="<%= day %>"
                                data-month="<%= month %>">

                                <div class="day-popup">
                                    Day <%= day %> / <%= month %>
                                </div>
                            </div>

                        <% } else { %>

                            <div class="emptyDay"
                                data-day="<%= day %>"
                                data-month="<%= month %>">
                            </div>

                        <% } %>
                        
                    <% } %>

                <% } %>

            <% } %>

        </div>

    </section>

  </main>

<%-include("partials/footer.ejs")%>