<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="/styles/content.css">
    <!-- <link rel="stylesheet" href="/styles/content.css"> -->
    <title>Mood Tracker</title>
</head>
<body>

  <!-- Top welcome section -->
  <header class="page-header">
    <h1 id = "welcomeMsg">Welcome back, Alex!</h1>
  </header>

  <!-- Main content area -->
  <main class="dashboard">

    <!-- Left big box -->
    <section class="card question-card">
        <h1 id="moodQuestion">How are you feeling today?</h1>

        <div id="moodContainer">
            <div class="mood">
                <div class="mood-box happy"></div>
                <span>Happy</span>
            </div>

            <div class="mood">
                <div class="mood-box sad"></div>
                <span>Sad</span>
            </div>

            <div class="mood">
                <div class="mood-box neutral"></div>
                <span>Neutral</span>
            </div>

            <div class="mood">
                <div class="mood-box anxious"></div>
                <span>Anxious</span>
            </div>

            <div class="mood">
                <div class="mood-box excited"></div>
                <span>Excited</span>
            </div>

            <div class="mood">
                <div class="mood-box tired"></div>
                <span>Tired</span>
            </div>

            <div class="mood">
                <div class="mood-box angry"></div>
                <span>Angry</span>
            </div>
        </div>

        <div id="MoodNotes"> 
            <!-- Notes input -->
            <textarea
                id = "notes"
                placeholder="Write about your day..."
            ></textarea>

            <button>
                OK
            </button>
        </div>
    </section>

    <!-- Right big box -->
    <section class="card calendar-card">
        <div>
            <h2 id="curYear"> <%= todayYear %> </h2>
        </div>

        <!-- Month header row -->
        <div class="calendar-grid">

            <!-- top-left empty corner. in order to keep an empty position before January -->
            <div></div>

            <% const months = ["J","F","M","A","M","J",
                            "J","A","S","O","N","D"]; %>

            <% months.forEach(m => { %>
                <div class="month-label"><%= m %></div>
            <% }) %>

            <!-- Day rows -->
            <% for (let day = 1; day <= 31; day++) { %>

                <!-- left day label -->
                <div class="day-label"><%= day %></div>

                <!-- 12 month cells -->
                <% for (let month = 1; month <= 12; month++) { %>
                    
                    <% if (day === todayDay && month === todayMonth) { %>
                        
                        <div class="day today"
                            data-day="<%= day %>"
                            data-month="<%= month %>">
                        </div>

                    <% } else { %>
                        <% if (day <= DaysOfMonths[month-1] ) { %>

                            <div class="day"
                                data-day="<%= day %>"
                                data-month="<%= month %>">
                            </div>

                        <% } else { %>

                            <div class="emptyDay"
                                data-day="<%= day %>"
                                data-month="<%= month %>">
                            </div>

                        <% } %>
                        
                    <% } %>

                <% } %>

            <% } %>

        </div>

    </section>

  </main>

  <!-- Footer -->
  <footer class="page-footer">
    <p>Made with ❤️</p>
  </footer>

</body>


</html>