<%-include("partials/header.ejs")%>

  <!-- Main content area -->
  <main class="dashboard">

    <% if (saved) { %>
        <div id="toast" class="toast">
            Mood entry saved successfully!
        </div>
    <% } %>

    <% if (deleted) { %>
        <div class="toast">
            Entry deleted successfully!
        </div>
    <% } %>

    <script>

    const url = new URL(window.location);

    // check if the URL contains ?saved=true
    if (url.searchParams.get("saved")) {

        // remove query param
        url.searchParams.delete("saved");

        // update the browser URL without refreshing the page
        // this prevents the toast from appearing again on refresh
        window.history.replaceState({}, document.title, url.pathname);
    }

    if (url.searchParams.get("deleted")) {

        // remove query param
        url.searchParams.delete("deleted");

        // update the browser URL without refreshing the page
        // this prevents the toast from appearing again on refresh
        window.history.replaceState({}, document.title, url.pathname);
    }

    </script>

    <section class="card question-card">

        <!-- Left big box -->
        <%-include("partials/leftMenu.ejs")%>
        
        <!-- JOURNAL-->
        <section class="part main-section" id="journalSection">
          <%- include("partials/journal.ejs") %>
        </section>

        <!-- STATISTICS -->
        <section class="part main-section stats-section hidden" id="statsSection">
          <%- include("partials/statistics.ejs") %>
        </section>

    </section>

    <%-include("partials/calendar.ejs")%>

  </main>

<%-include("partials/footer.ejs")%>