<%-include("partials/header.ejs")%>

  <!-- Main content area -->
  <main class="dashboard">

    <!-- Left big box -->
    <section class="card question-card">
        <form action="/addMood" method="POST">
            <h1 id="moodQuestion">How are you feeling today?</h1>

            <input type="hidden" name="selectedcolor" id="selectedColorInput">
            <input type="hidden" name="selectedMood" id="selectedMoodInput">

            <div id="moodContainer">

                <div class="mood" data-mood="happy" data-color="#4CAF50">
                    <div class="mood-box happy"></div>
                    <span>Happy</span>
                </div>

                <div class="mood" data-mood="sad" data-color="#2196F3">
                    <div class="mood-box sad"></div>
                    <span>Sad</span>
                </div>

                <div class="mood" data-mood="neutral" data-color="#9E9E9E">
                    <div class="mood-box neutral"></div>
                    <span>Neutral</span>
                </div>

                <div class="mood" data-mood="anxious" data-color="#9C27B0">
                    <div class="mood-box anxious"></div>
                    <span>Anxious</span>
                </div>

                <div class="mood" data-mood="excited" data-color="#FF9800">
                    <div class="mood-box excited"></div>
                    <span>Excited</span>
                </div>

                <div class="mood" data-mood="tired" data-color="#607D8B">
                    <div class="mood-box tired"></div>
                    <span>Tired</span>
                </div>

                <div class="mood" data-mood="angry" data-color="#F44336">
                    <div class="mood-box angry"></div>
                    <span>Angry</span>
                </div>

            </div>


            <div id="MoodNotes"> 
                <!-- Notes input -->
                <textarea
                    name = "notes"
                    id = "notes"
                    placeholder="Write about your day..."
                ></textarea>

                <button type="submit" class="ok">
                    OK
                </button>
            </div>
        </form>
    </section>

    <%
        const moodMap = {};

        moods.forEach(m => {
            const d = new Date(m.mood_date);
            const key = `${d.getDate()}-${d.getMonth()+1}`;
            moodMap[key] = m.mood_color;
        });
    %>

    <!-- Right big box -->
    <section class="card calendar-card">
        <div>
            <h2 id="curYear"> <%= todayYear %> </h2>
        </div>

        <!-- Month header row -->
        <div class="calendar-grid">

            <!-- top-left empty corner. in order to keep an empty position before January -->
            <div></div>

            <% const months = ["J","F","M","A","M","J","J","A","S","O","N","D"]; %>

            <% months.forEach(m => { %>
                <div class="month-label"><%= m %></div>
            <% }) %>

            <!-- Day rows -->
            <% for (let day = 1; day <= 31; day++) { %>

                <!-- left day label -->
                <div class="day-label"><%= day %></div>

                <!-- 12 month cells -->
                <% for (let month = 1; month <= 12; month++) { %>
                    
                    <% if (day === todayDay && month === todayMonth) { %>
                        
                        <!-- check if the mood exists, aka if there is any color related to the combination day-month -->
                        <%
                            const key = `${day}-${month}`;
                            const color = moodMap[key];
                        %>

                        <div class="day today"
                            data-day="<%= day %>"
                            data-month="<%= month %>"
                        
                            <% <!-- mood exists --> %>
                            <% if (moodMap[key]) { %>
                                style="background:<%= color ? color : '#eee' %>"
                            <% } %>
                            >
                            <div class="day-popup">
                                Day <%= day %> / <%= month %>
                            </div>
                        </div>


                    <% } else { %>
                        <% if (day <= DaysOfMonths[month-1] ) { %>

                            <%
                                const key = `${day}-${month}`;
                                const color = moodMap[key];
                            %>

                            <div class="day"
                                data-day="<%= day %>"
                                data-month="<%= month %>"
                                
                                <% <!-- mood exists --> %>
                                <% if (moodMap[key]) { %>
                                    style="background:<%= color ? color : '#eee' %>"
                                <% } %>
                                >
                                <div class="day-popup">
                                    Day <%= day %> / <%= month %>
                                </div>
                            </div>

                        <% } else { %>

                            <div class="emptyDay"
                                data-day="<%= day %>"
                                data-month="<%= month %>">
                            </div>

                        <% } %>
                        
                    <% } %>

                <% } %>

            <% } %>

        </div>

    </section>

    <a href="/logout">Logout</a>

  </main>

<%-include("partials/footer.ejs")%>